body {
    background: #181818;
    font-family: Arial;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.app {
    background: #222;
    padding: 20px;
    width: 340px;
    border-radius: 12px;
}

textarea {
    width: 100%;
    height: 90px;
    resize: none;
    margin-bottom: 10px;
}

button {
    width: 100%;
    padding: 10px;
    background: #444;
    color: white;
    border: none;
}

#notesList {
    margin-top: 15px;
}

.note {
    background: #333;
    padding: 10px;
    border-radius: 6px;
    margin-bottom: 8px;
}