body {
    background: linear-gradient(135deg, #6ac0e5, #b8dfec, #b1eaac);
    min-height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    padding-top: 40px;
    font-family: Arial, sans-serif;
}

.app {
    width: 360px;
    background: #151515;
    padding: 20px;
    border-radius: 14px;
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
}

h1 {
    color: #00d9ff;
    text-align: center;
}

textarea {
    width: 100%;
    height: 90px;
    border-radius: 8px;
    border: none;
    outline: none;
    padding: 10px;
    background: #222;
    color: white;
    resize: none;
    font-size: 14px;
}

.add {
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    border-radius: 8px;
    border: none;
    background: #00d9ff;
    color: #111;
    cursor: pointer;
    font-weight: bold;
}

.add:hover {
    background: #3ae3ff;
}

#notesList {
    margin-top: 15px;
}

.note {
    background: #222;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.note span {
    color: white;
    font-size: 14px;
    max-width: 200px;
    word-break: break-word;
}

.note button {
    background: #333;
    color: white;
    border: none;
    padding: 5px 8px;
    margin-left: 5px;
    border-radius: 6px;
    cursor: pointer;
}

.note button:hover {
    background: #444;
}